@model SZS.Terminarz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Terminarz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Szkolenie.KodPocztowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Szkolenie.KodPocztowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temat.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temat.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiczbaGodzin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiczbaGodzin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminOd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminOd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminDo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
